/*CSS Reset*/
* {
	margin: 0 auto;
	padding: 0 auto;
	box-sizing: border-box; /*avoid overflow of elements*/
	/*box-sizing: content-box; default value of box sizing*/
}

.wrapper {
	border: 1px solid pink;
	width: 48%;
	margin: 0 auto;
	padding: 10px;
}

h1,
p {
	background-color: #dde0e3;
}

/*from inline type to block type elements*/
em,
strong {
	background-color: #b2d6ff;
	display: inline;
}

h1 {
	padding: 50px;
	border: 1px solid pink;
	/*margin: 10px;*/
}

div.wrapper > div,
div.wrapper > div > div {
	border: 1px solid pink;
	background-color: skyblue;
	padding: 20px;
	text-align: center;
	border-radius: 5px;
	margin-top: 25px;
	width: 50%;
}

}

strong {
	
	margin: 50px;
}

p {
	padding: 14px; 
	margin-bottom: 50px;
	margin-top: 25px;
}
span {
	font-size: 2em;
	color: red;
}