/*css reset*/
* {
	margin: 0;
}

.grandparent {
	background-color: skyblue;
	position: fixed;
	width: 50%;
	/*top: 0;
	right: 0;*/
}

.parent {
	background-color: pink;
	/*position: relative;*/
}

div {
	padding: 20px;
}

p {
	position: static;
	/*margin-left: 50px;*/
	/*margin-top: -20px;*/
}

input[name="firstname"] {
	margin-right: 20px;
}
strong {
	/*position: absolute;*/
	/*top: 10px;*/ /*dependent to browser*/
	/*left: 10px; dependent to browser*/
	/*left: 50px;*/
	/*top: 100px;*/
	/*left: 100px;*/
	background-color: yellow;
}
